<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <%= image_tag 'training8.jpg' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'training7.jpg' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'training9.jpg' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'training2.jpg' %>
    </div> 
  </div>
  <div class="swiper-timer">
    <div class="swiper-timer__running"></div>
  </div>
</div>
<section class="top-1">
  <h1 class="top-1__text">SG筋トレ部は集中力・忍耐力を身につけ<br>
  １段階上の自分に出会うことができます。
  </h1>
</section>

<section class="top-2">
  <div class="top-2__inner">
    <div class="top-2__title">Traininng Menu</div>
    <div class="menu">
      <%= image_tag 'training5.jpg', class: "menu__img"%>
      <div class="menu__text">ベンチプレス</div>
    </div>
    <div class="menu">
      <%= image_tag 'training7.jpg', class: "menu__img"%>
      <div class="menu__text">スクワット</div>
    </div>
    <div class="menu">
      <%= image_tag 'training6.jpg', class: "menu__img"%>
      <div class="menu__text">アームカール</div>
    </div>
    <div class="top-2__box">
      <p>メニュー内容の変更等も各自気軽に出来ます。
      独自でメニューを作成することで<br>
      長期的な策略の立案・自身を客観的に吟味する力が自然と身につきます。
      </p>
    </div>
  </div>
</section>

<section class="top-3">
 <div class="top-3__inner">
   <div class="top-3__title">Traininng Info</div>
     <div class="top-3__img">
        <%= image_tag "time1.jpeg"%> 
     </div>
     <dl class="info">
       <dt>Traininng Time</dt>
       <dd>Thu 17:00~18:00</dd>
     </dl>
     <dl class="info">
       <dt>Belongings</dt>
       <dd>プロテイン等の飲み物  &nbsp;動きやすい服装</dd>
     </dl>
 </div>
</section>