<!DOCTYPE html>
<html>
  <head>
    <title>筋トレ部</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/@oddcamp/cocoon-vanilla-js@1.1.3/index.min.js' %>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>

  <body>
    <div id="global-container">
      <canvas id="canvas"></canvas>
      <div id="container">
        <div class="mobile-menu__cover"></div>
        <%= render 'layouts/header' %>
        <main>
          <%= yield %>
        </main>
        <%= render 'layouts/footer' %>
      </div>
      <%= render 'layouts/mobile-menu' %>
    </div>
  </body>
</html>
